body {
  background-color: black;
  font-family:'Special Elite', cursive;
}

html {
  font-size: 1rem;
}

p, a, h1, h2 {
    color: white;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

p {
  font-size: 1.6em;
}

.container {
    max-width: 80%;
    margin: auto;
    position: relative;
}
.title {
    color: white;
    font-size: 3em;
}

.main-image {
    max-width: 100%;
    position: absolute;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 300%;
    right: 50%;
}

.content--options {
    line-height: 2em;
    font-size: 1.2em;
}

.content--options-item:hover {
  color: #cc1414;
  font-weight:800;
}

.stamp {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  transform: rotate(-15deg);
}

.result-description {
  font-size: 1.8em;
}

.result-answ {
  font-size: 2.2em;
}

/* Portrait Mobile*/
@media screen and (orientation: portrait) {

  html {
    font-size: .7rem;
  }

  .container {
    max-width: 100%;
  }

  .overlay {
    right: 4%;
    top: 100%;
  }
}
