body {
  background-color: black;
  font-family:'Special Elite', cursive;
}

p, a, h1 {
    color: white;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

p {
  font-size: 1.6em;
}

.container {
    max-width: 80%;
    margin: auto;
    position: relative;
}
.title {
    color: white;
    font-size: 3em;
}

.main-image {
    max-width: 100%;
    position: absolute;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 300%;
    right: 50%;
}

.content--options {
    line-height: 2em;
    font-size: 1.2em;
}

.content--options-item:hover {
  color: #cc1414;
  font-weight:800;
}
