body {
  background-color: black;
}

p, a, h1 {
    color: white;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    max-width: 80%;
    margin: auto;
    position: relative;
}
.title {
    color: white;
}

.main-image {
    max-width: 100%;
    position: absolute;
    z-index: -1;
}

.main-image img {
    max-width: 100%;
}

.main-image:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset -64px 10px 170px 152px rgba(0,0,0,0.75);
    border-radius: 50% / 40%;
}

.overlay {
    position: absolute;
    top: 300%;
    right: 50%;
}

.content--options {
    line-height: 2em;
    font-size: 1.2em;
}

